DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_DB_ENGINE=django.db.backends.sqlite3
DJANGO_DB_NAME=db.sqlite3

DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False

LMS_MAX_IMPORT_UPLOAD_BYTES=5242880
LMS_MAX_ASSIGNMENT_UPLOAD_BYTES=15728640
LMS_ALLOWED_ASSIGNMENT_UPLOAD_EXTENSIONS=.pdf,.doc,.docx,.txt,.zip,.xlsx,.xls,.png,.jpg,.jpeg
LMS_ALLOWED_ASSIGNMENT_UPLOAD_MIME_TYPES=application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/plain,application/zip,application/x-zip-compressed,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,image/png,image/jpeg
